@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-Regular.ttf"),
         url("../fonts/Barlow-Regular.woff"),
         url("../fonts/Barlow-Regular.woff2");
}
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-Medium.ttf"),
         url("../fonts/Barlow-Medium.woff"),
         url("../fonts/Barlow-Medium.woff2");
}
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-SemiBold.ttf"),
         url("../fonts/Barlow-SemiBold.woff"),
         url("../fonts/Barlow-SemiBold.woff2");
}
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-Bold.ttf"),
         url("../fonts/Barlow-Bold.woff"),
         url("../fonts/Barlow-Bold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: 'Fraunces72pt';
    src: url("../fonts/Fraunces_72pt-Bold.ttf"),
         url("../fonts/Fraunces72pt-Bold.woff"),
         url("../fonts/Fraunces72pt-Bold.woff2");
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    padding-top:25px;
    font-family: 'Barlow';
}
img {
    display: inline-block;
}
.container {
    width:1320px;
    margin:0 auto;
    padding:0 20px;
}

/*-----SITE HEADER---*/
.site-header {
    padding-bottom: 43px;
}

.site-top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
}
.logo-link:hover {
    opacity:0.8;
}
.logo-link:active {
    opacity:0.7;
}
.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style:none;
}
.nav-item + .nav-item {
    margin-left:33px;
}
.item-link {
    text-decoration:none;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}
.item-link:hover {
    color:black;
    font-weight: 700;
    opacity:0.9;
}
.item-link:active {
    opacity:0.7;
}

/*----HERO-SECTION---*/
.hero {
    display: flex;
    align-items: center;
    background-image: url("../images/Bitmap-background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    height: 600px;

}
.hero-left {
    margin-left: 85px;
}
.hero-header {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    width: 493px;
    height: 145px;
    font-family: 'Fraunces72pt';
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.hero-paragraph {
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
    width: 445px;
    height: 78px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.hero-link {
    font-family: 'Fraunces72pt';
    color: white;
    padding:12px 30px;
    text-decoration: none;
    background: #66D2CF;
    border-radius: 6px;
}
.hero-link:hover {
    opacity:0.8;
}
.hero-link:active {
    opacity:0.7;
}