@font-face {
    font-family: 'Barlow';
    src: url("../fonts/BarlowCondensed-Regular.ttf"),
         url("../fonts/BarlowCondensed-Regular.woff"),
         url("../fonts/BarlowCondensed-Regular.woff2");
}
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-Medium.ttf"),
         url("../fonts/Barlow-Medium.woff"),
         url("../fonts/Barlow-Medium.woff2");
}
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-SemiBold.ttf"),
         url("../fonts/Barlow-SemiBold.woff"),
         url("../fonts/Barlow-SemiBold.woff2");
}
@font-face {
    font-family: 'Barlow';
    src: url("../fonts/Barlow-Bold.ttf"),
         url("../fonts/Barlow-Bold.woff"),
         url("../fonts/Barlow-Bold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: 'Fraunces72pt';
    src: url("../fonts/Fraunces_72pt-Bold.ttf"),
         url("../fonts/Fraunces72pt-Bold.woff"),
         url("../fonts/Fraunces72pt-Bold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: 'Fraunces72pt';
    src: url("../fonts/Fraunces-Black.ttf"),
         url("../fonts/Fraunces-Black.woff"),
         url("../fonts/Fraunces-Black.woff2");
    font-weight: 900;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    padding-top:25px;
    font-family: 'Barlow';
}
img {
    display: inline-block;
}
.container {
    width:1320px;
    margin:0 auto;
    padding:0 20px;
}

/*-----SITE HEADER---*/
.site-header {
    padding-bottom: 43px;
}

.site-top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
}
.logo-link:hover {
    opacity:0.8;
}
.logo-link:active {
    opacity:0.7;
}
.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style:none;
}
.nav-item + .nav-item {
    margin-left:33px;
}
.item-link {
    text-decoration:none;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}
.item-link:hover {
    color:black;
    font-weight: 700;
    opacity:0.9;
}
.item-link:active {
    opacity:0.7;
}

/*----HERO-SECTION---*/
.hero {
    display: flex;
    align-items: center;
    background-image: url("../images/Bitmap-background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    height: 600px;

}
.hero-left {
    margin-left: 85px;
}
.hero-header {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    width: 493px;
    height: 145px;
    font-family: 'Fraunces72pt';
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.hero-paragraph {
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
    width: 445px;
    height: 78px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.hero-link {
    font-family: 'Fraunces72pt';
    color: white;
    padding:12px 30px;
    text-decoration: none;
    background: #66D2CF;
    border-radius: 6px;
}
.hero-link:hover {
    opacity:0.8;
}
.hero-link:active {
    opacity:0.7;
}

/*-------OUR COLLECTION SECTION---*/
.collection {
    padding-top: 136px;
    background-image: url("../images/collection-background.png");
    background-repeat: no-repeat;
    background-position: 50% 160px;
    background-size: 1280px 200px;
    padding-bottom: 236px;

}
.collection-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 156px;
    height: 399px;
    list-style: none;
}
.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-image {
    margin-bottom: 72px;
}
.item-header {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces72pt';
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    margin-bottom: 24px;
}
.item-paragraph {
    margin: 0;
    padding: 0;
    width: 255px;
    height: 134px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.item-paragraph:hover {
    font-weight: 700;
    color: black;
}

/*-----SERVICE-SECTION---*/
.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Bitmap-color.png");
    background-repeat: no-repeat;
    height: 577px;
    background-position:center;
}
.service-header {
    margin: 0;
    padding: 0;
    margin-top: 64px;
    font-family: 'Fraunces72pt';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}
.service-paragraph {
    margin: 0;
    padding: 0;
    margin-top: 32px;
    width: 540px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.service-list {
    display: flex;
    position: absolute;
    top: 1920px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 85px;
    background: #0E8784;
    border-radius: 8px;

}
.service-item + .service-item {
    margin-left: 25px;
}
.service-item-image {
    margin-bottom: 56px;
}
.service-item-header {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    width: 255px;
    height: 32px;
    text-align: center;
    font-family: 'Fraunces72pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
   color: #FFFFFF;
}
.service-item-paragraph {
    margin: 0;
    padding: 0;
    width: 255px;
    height: 78px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity:0.7;
}
.delivery-image {
    margin-bottom: 78px;
}